DATABASE_URL="postgresql://postgres:postgres@localhost:5432/myapp"

JWT_CONSTANTS="secret password"
NODE_ENV="production | development"
forgetPassworddLink ='http://localhost:4000/rest-passowrd?token={token}'